:root, html, body{
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
    font-family: popins;
}

@font-face{
  font-family: popins;
  src: url(./fonts/Poppins-Medium.ttf);
}

body{
    background-color: #f8fafc;
}

.header{
    width: 100%;
    background-color: #334155;
    color: white;
    display: flex;
    justify-content: space-between;
}

.home-icon{
    padding: 0.5em;
}

.home-style{
    padding-left: 1em;
}

.add-style{
    padding-right: 1em;
}

.footer{
    width: 100%;
    background-color: #334155;
    color: white;
    display: flex;
    justify-content: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    /*top: 0;*/
    left: 0;
    background-color: #cbd5e1;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar .btn {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    cursor: pointer;
  }
  
  .sidebar .btn:hover {
    color: #f1f1f1;
  }
  
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    cursor: pointer;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  #content {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

  .group{
    width: 80%;
    /*background-color: red;*/
    margin-left: 10px;
    font-size: 18px;
    color: #818181;
    
    transition: 0.3s;
    display: flex;
    
    flex-direction: column;
    align-items: center;
  }

  .add-btn{
    color: #334155;
    background-color: #cbd5e1;
    border: #cbd5e1;
    font-size: 15px;
    cursor: pointer;
  }

  /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.todo-popup{
  background-color: #fefefe;
  position: fixed; 
  left: 14%;
  top: 15%;
  /*margin: 15% auto; /* 15% from the top and centered */
  padding: 2%;
  border: 1px solid #888;
  width: 70%; /* Could be more or less, depending on screen size */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 20em; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.project-input{
  margin-top: 5px;
  border-radius: 5px;
  width: 98%;
  height: 30px;
  border: 1px solid #cbd5e1;
  font-size: 16px;
}

.project-input:focus{
  outline: 1px solid blue;
}

.title-label{
  font-size: 25px;
  color: #334155;
  display: block;
}

.btn-div{
  display: flex;
  justify-content: flex-end;
 /* margin-right: 95px;*/
  margin-top: 20px;
}

.btn-div button{
  padding: 8px;
  margin: 4px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid #334155;
  cursor: pointer;
}

.submit-project{
  background-color: #334155;
  color: white;
  
}

.cancel-project:hover{
background-color: #cbd5e1;
}

.modal-container{
  padding: 5px;
  display: flex;
  flex-direction: column;
  /*border: 2px solid red;*/
}

.project-list{
  background-color: #cbd5e1;
  border: solid 1px #cbd5e1;
  color: #818181;
  font-size: 17px;
}

.first-flex{
  display: flex;
  /*border: 2px solid green;*/
  justify-content: space-between;
  padding: 10px;
}

.title-div, .date-div {
  width: 40%;
 /* border: 2px solid yellow;
  padding: 5px;*/
}

.info-form{
 /* border: solid 2px red;*/
}

.date-input, .title-input{
  width: 95%;
   height: 30px;
  border: 1px solid #cbd5e1;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 5px;
}

.date-input:focus, .title-input:focus, .description-input:focus{
  outline: 1px solid blue;
}

.description-input{
  width: 95%;
   min-height: 90px;
  border: 1px solid #cbd5e1;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 5px;
}

.project-div{
  margin-top: 5px;
  /*border: 2px solid red;*/
}

.both-div{
  display: flex;
  flex-direction: column;
}

.both-div div{
  margin-top: 10px;
}

.first-btn, .second-btn{
  padding: 8px;
  margin: 4px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid #334155;
  cursor: pointer;
}

.first-btn{
  background-color: #334155;
  color: white;
}

.second-btn{
  background-color: white;
}
.second-btn:hover{
  background-color: #cbd5e1;
}